
/* Landscape */
@media screen and (orientation:landscape) {

}/********************************GENERAL*********************** */
html{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%; 
    margin: 0;
    padding: 0;
}
body{
    margin: 0px;
}
h2,h3, footer{
    text-align: center;
}
h2 a {
    text-decoration: none;
    color: black;
}
/* ******************************HEADER*********************** */
#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
header{
    background: url(/img/main_title.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 100vh;
}
h1{
    text-align: center;
    font-style: italic;
    color: white;
    padding:inherit;
    margin: auto;
    position: absolute;
    font-family: fantasy;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:120px;
	letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-shadow: 8px 8px #e40707, 20px 20px #000000;
}
body > header > button {
    text-align: center;
    font-style: italic;
    color: white;
    padding: inherit;
    margin: auto;
    position: absolute;
    font-family: fantasy;
    top: 85%;
    left: 47%;
    font-size: 120px;
    border: transparent;
    background-color: transparent;
}
body > header > button:hover{
    cursor: pointer;
}
/* ******************************NAVBAR*********************** */
.navbar, #navbar{
    position: sticky;
    top: 0;
    z-index: 9;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 90%;
}
li {
    float: right;
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    float: right;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(15, 100, 197);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* ******************************MAIN*********************** */
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100%;
}
.col {
    display: flex;
    flex-direction: row;
}
.side {
    -ms-flex: 30%;
    flex: 30%;
    background-color: #aaa;
    padding: 20px;
}
.main {   
    -ms-flex: 70%;
    flex: 70%;
    background-color: white;
    padding: 20px;
}
.fakeimg {
    background-color: red;
    padding: 20px;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    border-color: black;
}
.fakeimg:hover{
    cursor: pointer;
}
table > tbody > tr > td > img, #img01, #img02, #img03, #img04, #img05, #img06, #img07, #img08, #img09, #img10, #img11, #img12, #img13, #img14, #img15, #img16  {
    border-radius: 5px;
}
/* ******************************ACCEUIL*********************** */
body > main > div > div.main > table > tbody > tr > td:nth-child(2) > img {
    cursor: context-menu;
}
body > main > div > div.main > a > img {
    height: 125px;
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;   
}
#tableDate {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
#tableDate td, #tableDate th {
    border: 1px solid #ddd;
    padding: 8px;
}
#tableDate tr:nth-child(even){background-color: #f2f2f2;}
  
#tableDate tr:hover {background-color: #ddd;}
  
#tableDate th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(15, 100, 197);
    color: white;
    text-align: center;
}
/* ******************************LIEUX*********************** */
table > tbody > tr > td > img{
    cursor: pointer;
}
.closebtn {
    cursor: pointer;
}
/* ******************************BACKGROUND*********************** */
#contact {
    background: url(/img/contact.jpg);
}
#connexion {
    background: url(/img/connexion.jpg);
    background-attachment: fixed;
}
#inscription {
    background: url(/img/inscription.jpg);
}
#inscription, #connexion, #contact {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#season > div > div.main {
    background: url(/img/saison.jpg) no-repeat 25%;
    background-position: -417px -133px;
}
/* ******************************FORMULAIRES*********************** */
input[type=text], input[type=email],input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 5px;
}
input[type=submit] {
    background-color: rgb(15, 100, 197);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 100%;
}
input[type=submit]:hover {
    background-color: rgb(0, 253, 0);
}
#connexion > .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 5%;
    margin-right: 40%;
    margin-bottom: 126px;
    margin-top: 90px;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25px;
    margin-top: 25px;
}
/* ******************************CONNEXION*********************** */
#connexion > div > div > h3 > a {
    text-decoration: none;
    color: black;
}
#connexion > div > div > h3 > a:hover {
    color: blue;
}
/* ******************************SAISONS*********************** */
#poster1 > div > div > p > img ,#poster2 > div > div > p > img ,#poster3 > div > div > p > img,#poster4 > div > div > p > img,#poster5 > div > div > p > img,#poster6 > div > div > p > img,#poster7 > div > div > p > img {
    border-radius: 10px;
}
#season > div > div.main > h2 {
    color: white;
}
#tableSaison {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 10%;
}
#tableSaison td {
    padding: 8px;
}
.box {
    width: 50%;
    margin: 0 auto;
    padding: 35px;
    border: 2px solid transparent;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
    margin-bottom: 80px;
}
.button {
    font-size: 2em;
    padding: 10px;
    color: white;
    border: 2px solid rgb(15, 100, 197);
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: rgb(15, 100, 197);
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: rgb(15, 100, 197);
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}
#season > div > div.side > a {
    text-decoration: none;
}
/* ******************************CLANS*********************** */
#clan > div > div.main > div > div > img{
    float: left;
    padding: 10px;
}
#clan > div > div.main > div{
    float: left;
}
.container_Clan{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 25px;
}
.container_Clan:hover{
    transform: scale(1.01);
    box-shadow: 5px 4px 4px grey;
}
#clan > div > div.side > a {
    text-decoration: none;
}
#clan > div > div.side > a:nth-child(28) > div, #clan > div > div.side > a:nth-child(12) > div, #clan > div > div.side > a:nth-child(10) > div {
    color: black;
}
/* ******************************CHARACTER*********************** */
#side_character > nav > ul > li {
    display: inline-block;
    vertical-align: top;
}
#side_character > nav > ul {
    text-align: center;
}
#side_character > nav > ul > li > a {
    font-size: 2em;
    margin: 6px;
}   
.menu{
    position: sticky;
    top: 50px;
}
#side_character{
    -ms-flex: 11%;
    flex: 11%;
    background-color: #aaa;
    padding: 20px;
}
#character > div > div > h3{
    text-align: left;
    clear: both;
}
.container_Character {
    position: relative;
    width: 50%;
    max-width: 300px;
    float: left;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}
.image_Character {
    display: block;
    width: 100%;
    height: 500px;
    height: auto;
}
.overlay_Character {
    position: absolute; 
    bottom: 0; 
    background: rgba(94, 94, 94, 0.5);
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    text-align: center;
    font-size: 25px;
}
.container_Character:hover .overlay_Character {
    opacity: 1;
}
.container_Character:hover{
    cursor: crosshair;
}
/* ******************************NEWS*********************** */
#twitter {
    background-color: white;
}
/* ******************************FOOTER*********************** */
footer{
    background-color: rgb(15, 100, 197);
    color: white;
    padding: 20px 0 10px 0;
}
#scndline{
    height: 1px;
    width: 75%;
    background-color: white;
    margin: 40px auto;
}
#copyrightEtIcons{
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}
#copyright{
    width: 50%;
    text-align: left;
    color: white;
}
#icons{
    width: 50%;
    text-align: right;
}
#icons a{
    display: inline-block;
    padding: 0 15px;
    font-size: 1.3em;
    color: white;
}
#icons a:hover{
    transform: scale(1.5);
    transition: 0.1s ease-in-out;
}